/* -------------此文件加上無法在Webflow Designer設定的css屬性
comment前綴說明:
"GLOBAL" -> 應用於全站所有相關物件
"@pagename" -> 只應用於某特定頁面的相關物件
*/


/* GLOBAL ----- form input 選取後的外觀變化 */


/* radio select: 長條文字型 */

.as_list~span {
    color: rgba(47, 90, 58, 0.64);
}

.as_list~span:hover {
    color: rgba(47, 90, 58, 0.84);
}

.as_list.w--redirected-checked~span {
    color: #2F5A3A;
}

.custom-check.w--redirected-checked~.check-border {
    background-color: rgba(255, 234, 0, 0.2);
}


/* GLOBAL ----- css標的物的背景模糊, 模擬玻璃效果 */

@supports ((backdrop-filter: blur(5px)) or (-webkit-backdrop-filter: blur(5px))) {
    .bd_blur_s,
    .daterangepicker {
        -webkit-backdrop-filter: blur(5px);
        backdrop-filter: blur(5px);
    }
    .bd_blur_h {
        -webkit-backdrop-filter: blur(100px);
        backdrop-filter: blur(100px);
    }
}


/* GLOBAL ----- 無法點選的標的物, Use Cases: 
    1) @Basic-Entries 日期選項上方需要placeholder遮蓋  
    2) GLOBAL 避免eventListener點錯target
    3) @Detail-Entries 還沒解鎖的anchor不可點選 */

.unclickable {
    pointer-events: none;
}


/* ------------------------------------------------------------------------------------------------------------------ */


/* @Detail-Entries --- 調整 Iro Color Picker 的Luminance bar位置（position已預設為absolute） */

.IroSlider {
    left: 149px;
    bottom: 86px;
}

.IroHandle.IroHandle--0.IroHandle--isActive {
    left: -20px;
}

.IroWheelHue {
    border-radius: 16px;
}

/* @Form-apply --- dropdown hinter 醒目提示動畫 */
.empty-hinter.js-shake {
    transform-origin: 50% 50%;
    animation-name: shake;
    animation-duration: 0.2s;
    animation-iteration-count: 2;
}

@keyframes shake {
    0% {
        transform: translate(-8px, 0px);
    }
    50% {
        transform: translate(8px, 0px);
    }
    100% {
        transform: translate(-8px, 0px);
    }
}


/* @Detail-Entries --- 若anchor對應當前location.hash，呈現特定動畫 */

.anch-inner_circ {
    transform-origin: 50% 50%;
    animation-name: current;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

@keyframes current {
    0% {
        transform: scale(.6);
    }
    50% {
        transform: scale(.4);
    }
    100% {
        transform: scale(.6);
    }
}

.anch-drip {
    transform-origin: 0% 50%;
    animation-name: dripping;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

@keyframes dripping {
    0% {
        height: 0px;
        top: 0px;
    }
    50% {
        height: 16px;
        top: 8px;
    }
    100% {
        height: 0px;
        top: 33px;
    }
}


/* @Detail-Entries --- 設定anchor兩種狀態下之外觀：visited & current */

.a-anchor.visited {
    opacity: 1;
}

.a-anchor.visited>.anch-circ {
    background-color: #2F5A3A;
}

.a-anchor.w--current>.anch-circ {
    background-color: #2F5A3A;
}

.a-anchor.w--current>.anch-circ>.anch-inner_circ {
    display: block;
}

.a-anchor.w--current>.anch-pipe>.anch-drip {
    display: block;
}