/* branded styling */

.date-input {
    height: 36px;
    padding: 0px 12px;
    font-size: 14px;
    line-height: 36px;
    font-weight: medium;
    width: 100%;
    outline: none;
    background-color: transparent;
    border: 0px solid transparent;
}


/* .date-input.single {
    min-width: 130px;
    max-width: 134px;
} */


/* branded styling: 整體外框線＋圓角＋overflow */

.daterangepicker {
    overflow: hidden;
    position: absolute;
    color: inherit;
    background-color: rgba(255, 255, 255, 0);
    border-radius: 16px;
    border: 1px solid #2F5A3A;
    width: 278px;
    max-width: none;
    padding: 0;
    margin-top: 7px;
    top: 100px;
    left: 20px;
    z-index: 3001;
    display: none;
    /* font-family: arial; */
    font-size: 15px;
    line-height: 1em;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.76) 0%, rgba(255, 255, 255, 0.72) 100%);
}

.daterangepicker:before,
.daterangepicker:after {
    position: absolute;
    display: inline-block;
    border-bottom-color: rgba(0, 0, 0, 0.2);
    content: '';
}


/* branded styling: 彈跳視窗正上方的仿三角形外框色 */

.daterangepicker:before {
    top: -7px;
    border-right: 7px solid transparent;
    border-left: 7px solid transparent;
    border-bottom: 7px solid #2F5A3A;
}

.daterangepicker:after {
    top: -6px;
    border-right: 6px solid transparent;
    border-bottom: 6px solid #fff;
    border-left: 6px solid transparent;
}

.daterangepicker.opensleft:before {
    right: 9px;
}

.daterangepicker.opensleft:after {
    right: 10px;
}

.daterangepicker.openscenter:before {
    left: 0;
    right: 0;
    width: 0;
    margin-left: auto;
    margin-right: auto;
}

.daterangepicker.openscenter:after {
    left: 0;
    right: 0;
    width: 0;
    margin-left: auto;
    margin-right: auto;
}

.daterangepicker.opensright:before {
    left: 9px;
}

.daterangepicker.opensright:after {
    left: 10px;
}

.daterangepicker.drop-up {
    margin-top: -7px;
}

.daterangepicker.drop-up:before {
    top: initial;
    bottom: -7px;
    border-bottom: initial;
    border-top: 7px solid #ccc;
}

.daterangepicker.drop-up:after {
    top: initial;
    bottom: -6px;
    border-bottom: initial;
    border-top: 6px solid #fff;
}

.daterangepicker.single .daterangepicker .ranges,
.daterangepicker.single .drp-calendar {
    float: none;
}

.daterangepicker.single .drp-selected {
    display: none;
}

.daterangepicker.show-calendar .drp-calendar {
    display: block;
}

.daterangepicker.show-calendar .drp-buttons {
    display: block;
}

.daterangepicker.auto-apply .drp-buttons {
    display: none;
}

.daterangepicker .drp-calendar {
    display: none;
    max-width: 270px;
}

.daterangepicker .drp-calendar.left {
    padding: 8px 0 8px 8px;
}


/* 強制將right calendar 寬縮為零 */

.daterangepicker .drp-calendar.right {
    padding: 0px;
    width: 0px;
}

.daterangepicker .drp-calendar.single .calendar-table {
    border: none;
}


/* branded styling */

.daterangepicker .calendar-table .next span,
.daterangepicker .calendar-table .prev span {
    color: #fff;
    border: solid rgba(47, 90, 58, 0.5);
    border-width: 0 1px 1px 0;
    border-radius: 0;
    display: inline-block;
    padding: 3px;
}


/* right calendar的箭標視覺上移到left calendar */

.daterangepicker .calendar-table .next {
    position: absolute!important;
    right: 8px;
    top: 8px;
}

.daterangepicker .calendar-table .next span {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.daterangepicker .calendar-table .prev span {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}


/* branded styling: overall text in number */

.daterangepicker .calendar-table th,
.daterangepicker .calendar-table td {
    white-space: nowrap;
    text-align: center;
    vertical-align: middle;
    min-width: 32px;
    width: 32px;
    height: 32px;
    line-height: 32px;
    font-size: 12px;
    border-radius: 100%;
    border: 0px solid transparent;
    white-space: nowrap;
    cursor: pointer;
    color: #2F5A3A;
}

.daterangepicker .calendar-table th {
    font-weight: bold;
}

.daterangepicker .calendar-table {
    border: 0px solid #fff;
    border-radius: 4px;
    /* background-color: #fff; */
}

.daterangepicker .calendar-table table {
    width: 100%;
    margin: 0;
    border-spacing: 0;
    border-collapse: collapse;
}

.daterangepicker td {
    border-width: 0px;
}

.daterangepicker td.available:hover,
.daterangepicker th.available:hover {
    background-color: rgba(255, 234, 0, 0.2);
    border-color: transparent;
    color: inherit;
}

.daterangepicker td.week,
.daterangepicker th.week {
    font-size: 80%;
    color: #ccc;
}


/* branded styling: 當前月份以外的日期（含未選中, 已選中） */

.daterangepicker td.off,
.daterangepicker td.off.in-range,
.daterangepicker td.off.start-date,
.daterangepicker td.off.end-date {
    background-color: transparent;
    border-color: transparent;
    color: rgba(47, 90, 58, 0.4);
}


/* branded styling: 當前月份以外的日期（含未選中, 已選中）:HOVER */

.daterangepicker td.off:hover,
.daterangepicker td.off.in-range:hover,
.daterangepicker td.off.start-date:hover,
.daterangepicker td.off.end-date:hover {
    background-color: rgba(47, 90, 58, 0.1);
    color: #2F5A3A;
}


/* branded styling: 已選中的日期區間 */

.daterangepicker td.in-range {
    background-color: rgba(255, 234, 0, 0.2);
    border-color: transparent;
    color: #2F5A3A;
    border-radius: 0;
}

.daterangepicker td.off.ends.in-range {
    background-color: rgba(47, 90, 58, 0.1);
    border-color: transparent;
    color: rgba(47, 90, 58, 0.6);
    border-radius: 0;
}

.daterangepicker td.start-date {
    border-radius: 16px 0 0 16px;
}

.daterangepicker td.end-date {
    border-radius: 0 16px 16px 0;
}

.daterangepicker td.start-date.end-date {
    border-radius: 100%;
}


/* 失敗！！ 在start date下方放置圓形div，但會蓋住當下日期 */


/* td.active.start-date.available::after {
  content: ".";
  position: absolute;
  top: 0px;
  left: 0px;
  width: 32px;
  height: 32px;
  line-height: 32px;
  background-color: #683ab7;
  color:#fff;
  border-radius: 0%;
  z-index: 0;
} */


/* 承上的替代方案，在start date, end date當中放置圓形svg檔案 */

.daterangepicker td.active,
.daterangepicker td.off.ends.active,
.daterangepicker td.active:hover,
.daterangepicker td.off.ends.active:hover {
    /* background-color: rgba(47, 90, 58, 0.1); */
    background-color: rgba(255, 234, 0, 0.2);
    background-image: url(https://uploads-ssl.webflow.com/60bc818be298b4b1c993eb01/610972693a7ddc347e68d590_datepicker_circ.svg);
    background-size: cover;
    background-repeat: no-repeat;
    /* border-color: transparent; */
    color: #fff;
}

.daterangepicker th.month {
    width: auto;
    color: #2F5A3A;
}

.daterangepicker td.disabled,
.daterangepicker option.disabled {
    color: rgba(47, 90, 58, 0.5);
    cursor: not-allowed;
    text-decoration: line-through;
}


/* disabled選項無hover效果 */

.daterangepicker td.disabled:hover,
.daterangepicker option.disabled:hover {
    background-color: transparent;
    color: rgba(47, 90, 58, 0.5);
}

.daterangepicker select.monthselect,
.daterangepicker select.yearselect {
    font-size: 12px;
    padding: 1px;
    height: auto;
    margin: 0;
    cursor: default;
}

.daterangepicker select.monthselect {
    margin-right: 2%;
    width: 56%;
}

.daterangepicker select.yearselect {
    width: 40%;
}

.daterangepicker select.hourselect,
.daterangepicker select.minuteselect,
.daterangepicker select.secondselect,
.daterangepicker select.ampmselect {
    width: 50px;
    margin: 0 auto;
    background: #eee;
    border: 1px solid #eee;
    padding: 2px;
    outline: 0;
    font-size: 12px;
}

.daterangepicker .calendar-time {
    text-align: center;
    margin: 4px auto 0 auto;
    line-height: 30px;
    position: relative;
}

.daterangepicker .calendar-time select.disabled {
    color: #ccc;
    cursor: not-allowed;
}


/* branded styling: 下方分界線 */

.daterangepicker .drp-buttons {
    clear: both;
    text-align: right;
    padding: 0px;
    border-top: 1px solid rgba(47, 90, 58, 0.1);
    line-height: 12px;
    vertical-align: middle;
}


/* 預覽所選日期 */

.daterangepicker .drp-selected {
    display: inline-block;
    font-size: 16px;
    padding: 10px 16px;
    text-align: left;
    color: #2F5A3A;
    line-height: 24px;
    position: absolute;
    left: 0px;
    bottom: 8px;
}


/* 選項按鈕 */

.daterangepicker .drp-buttons .btn {
    display: inline-block;
    font-size: 16px;
    padding: 0px 14px;
    line-height: 36px;
    border-radius: 8px;
    margin: 12px 12px 12px 0px;
}


/* 選項按鈕: Cancel */

.daterangepicker .drp-buttons .btn.btn-sm.btn-default {
    background-color: #fff;
    background: rgba(59, 122, 71, 0.1);
    color: #2F5A3A;
}


/* 選項按鈕: Apply */

.daterangepicker .drp-buttons .btn.btn-sm.btn-primary {
    background-color: #3B7A47;
    color: #fff;
}

.daterangepicker.show-ranges.single.rtl .drp-calendar.left {
    border-left: 1px solid #2F5A3A;
}

.daterangepicker.show-ranges.single.ltr .drp-calendar.left {
    border-left: 1px solid #2F5A3A;
}


/* right calendar的右側線條 */


/* .daterangepicker.show-ranges.rtl .drp-calendar.right {
  border-right: 1px solid #2F5A3A;
} */


/* branded styling: left calendar 的左側邊線 */

.daterangepicker.show-ranges.ltr .drp-calendar.left {
    border-left: 1px solid rgba(47, 90, 58, 0.1);
}

.daterangepicker .ranges {
    float: none;
    text-align: left;
    margin: 0;
}

.daterangepicker.show-calendar .ranges {
    margin-top: 12px;
}

.daterangepicker .ranges ul {
    list-style: none;
    margin: 0 auto;
    padding: 0;
    width: 100%;
}


/* branded styling: range 未選項目文字顏色+padding */

.daterangepicker .ranges li {
    font-size: 12px;
    padding: 8px 16px;
    cursor: pointer;
    color: #2F5A3A;
    position: relative;
}


/* branded styling: range 所選項目:HOVER的背景顏色 */

.daterangepicker .ranges li:hover {
    background-color: rgba(47, 90, 58, 0.1);
}


/* branded styling: range 所選項目的背景顏色 */

.daterangepicker .ranges li.active {
    background: rgba(255, 234, 0, 0.2);
    color: #2F5A3A;
}


/* branded styling: 改變Custom Range字串為中文 */


/* .daterangepicker .ranges li.active:after {
  content: '自定義日期區間';
  position: absolute;
  top: 8px;
  left: 16px;
  background-color: #2F5A3A;
  color: #fff;
} */


/*  Larger Screen Styling */

@media (min-width: 564px) {
    .daterangepicker {
        width: auto;
    }
    .daterangepicker .ranges ul {
        width: 140px;
    }
    .daterangepicker.single .ranges ul {
        width: 100%;
    }
    .daterangepicker.single .drp-calendar.left {
        clear: none;
    }
    .daterangepicker.single .ranges,
    .daterangepicker.single .drp-calendar {
        float: left;
    }
    .daterangepicker {
        direction: ltr;
        text-align: left;
    }
    .daterangepicker .drp-calendar.left {
        clear: left;
        margin-right: 0;
    }
    .daterangepicker .drp-calendar.left .calendar-table {
        border-right: none;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }
    .daterangepicker .drp-calendar.right {
        margin-left: 0;
        display: inline-block;
        /* display: none; */
    }
    .daterangepicker .drp-calendar.right .calendar-table {
        border-left: none;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }
    /* 去掉right calendar 除了箭標以外的所有物件 */
    .daterangepicker .drp-calendar.right tbody,
    .daterangepicker .drp-calendar.right .calendar-table thead tr:nth-child(2),
    .daterangepicker .drp-calendar.right .calendar-table thead tr:nth-child(1) th:nth-child(-n+2) {
        display: none;
    }
    .daterangepicker .drp-calendar.left .calendar-table {
        padding-right: 8px;
    }
    .daterangepicker .ranges,
    .daterangepicker .drp-calendar {
        float: left;
    }
}

@media (min-width: 730px) {
    .daterangepicker .ranges {
        width: auto;
    }
    .daterangepicker .ranges {
        float: left;
    }
    .daterangepicker.rtl .ranges {
        float: right;
    }
    .daterangepicker .drp-calendar.left {
        clear: none !important;
    }
}